.content {
    font-family: 'Quicksand', sans-serif;
    color: goldenrod;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;

}

.col-12{
    background-color: cornflowerblue;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 10px;
    margin-bottom: 0;   
}