.content {
    font-family: 'Quicksand', sans-serif;
    color: goldenrod;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 20px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    background-color: cornflowerblue;
    height: 100%;
}

.navbar {
    padding: 10px;
    margin-bottom: 0;   
}

#textbox {
    width:75%;
}
